@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: unset;
}
ul{
    margin-left: 1.5rem;
    list-style: none;
}
button,
input[type="submit"]{
    border:none;
    background: none;
    color: unset;
    cursor:pointer;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 1em 0;
}

/* general */

body{
    font-family: "Roboto", sans-serif;
}

/* header */

#header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e02525;
}
#header .t1{
    margin:0;
    padding: 0 1rem;
    color:white;
}

#header .auth-options{
    height: 100%;
    display: flex;
}

#header .auth-options button{
    padding: 0 1rem;
    background-color: #b91b1b;
    color: white;
    font-size: 1.1rem;
}

#header .auth-options button:hover{
    background-color: #be3a3a;
}

@media screen and (max-width:550px) {
    #header .t1{
        font-size: 1.2rem;
    }
    #header .auth-options button{
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }
}