@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: unset;
}
ul{
    margin-left: 1.5rem;
    list-style: none;
}
button,
input[type="submit"]{
    border:none;
    background: none;
    color: unset;
    cursor:pointer;
}

h1,h2,h3,h5,h6,p,ul,ol{
    margin: 1em 0;
}

/* general */

body{
    font-family: "Roboto", sans-serif;
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(wallpaper4.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
    color: white;
}

.page {
    padding: 17rem;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

/* header */

#header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .title {
    margin: 0;
    padding: 0 1rem;
}
#header .auth-options {
    height: 100%;
    display: flex;
}
#header .auth-options button {
    padding: 0 1rem;
    background-color: #b91b1b;
    color: #ffffff;
    font-size: 1.1rem;
}
#header .auth-options button:hover {
    background-color: #be3a3a;
}

/* form */

.form label,
.form input {
    display: block;
}
.form input {
    margin-bottom: 1rem;
}
.form label {
    margin-left: -0px;
    margin-bottom: 10px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}
.form input:focus {
    border: 1px solid #50a4e9;
    box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
    outline: none;
}
.form input[type="submit"] {
    padding: 0.3rem 0.5rem;
    border: 1px solid #6aa051;
    border-radius: 8px;
    background-color: lawngreen;
    font-size: 1.1rem;
    align : center;
}

/* error-notce */

.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rebeccapurple;
}
.error-notice button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df4343;
    color: #ffffff;
}
h4{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 12px;
}
footer{
    align: center;
 }
@media screen and (max-width:550px) {
    #header .t1{
        font-size: 1.2rem;
    }
    #header .auth-options button{
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }
    .page{
        padding: 0.6rem;
    }
}